@main-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@background-image: -webkit-linear-gradient(top, #FFF 0%, #91BDD6 100%);
@background-image-active: -webkit-linear-gradient(top, #FFF 0%, #91FDD6 100%);
@border: solid #91BDD6 5px;
@border-disabled: solid #888888 5px;
.iconButton {
	width: 100%;
	height: 162px;
	text-align: center;
	border-radius: 7px;
	background-image: @background-image;
	border: @border;
}
.iconButton:active {
	background-image: @background-image-active;
}
.iconButton:focus {
	outline: 0;
}
.iconButtonIcon {
	height: 100%;
	vertical-align: middle;
}
.largeButton {
	width: 100%;
	height: 162px;
	text-align: left;
	border-radius: 7px;
	background-image: @background-image;
	border: @border;
	font-size: 30px;
	font-family: @main-font-family;
}
.largeButton:active {
	background-image: @background-image-active;
}
.largeButton:focus {
	outline: 0;
}
.largeButtonIcon {
	height: 150px;
	width: 150px;
	vertical-align: middle;
}
.largeButtonTitle {
	position: absolute;
	left: 150px;
	top: 60px;
}
.largeButtonText {
	font-size: 20px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.largeButtonWrapper {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	top: -150px;
}
.smallButton{
	width: 100%;
    height: 70px;
 	padding-top: 5px;
    text-align: center;
    border-radius: 7px;
    background-image: @background-image;
    border: @border;
    font-size: 20px;
    font-weight: bold;
    font-family: @main-font-family;
}
.smallButton:active{
	background-image: @background-image-active;
}
.smallButton:focus {
	outline: 0;
}
.smallButton:disabled {
	background-image: none;
	border: @border-disabled;
}
.smallButtonIcon {
	width: 35px;
	height: 35px;
	vertical-align: middle;
}