@main-color: #404040;
@main-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@main-font-size: 54px;
@header-height: 120px;
@content-height: 500px;

#header{
	color: @main-color;
	font-size: @main-font-size;
	font-family: @main-font-family;
    font-weight: 300;
	text-align: left;
	line-height: 120px;
}
.balanceHolder{
	height: 70px;
	line-height: 70px;
}
.balance{
	font-family: @main-font-family;
	display: inline-block;
	font-size:25px;
	text-align:right;
	vertical-align: middle;
}
.clickImage {
	width: 100px;
	height: 100px;
}
.greyText {
	font-family: @main-font-family;
	font-size: 30px;
	text-align: center;
	color: @main-color;
}