@main-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

.overlay {
	overflow: scroll;
	position: fixed;
	top: 0;
	bottom: 110%;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 10000;
	opacity: 0;
	transition: opacity 200ms linear, bottom 0s linear 200ms;
	background-color:rgba(32,32,32,0.67);	
}

.overlay-open {
	bottom: 0;
	opacity: 1;
	transition: opacity 200ms linear, bottom 0s linear;
}

.overlay-view {
	overflow: hidden;
}

.overlay-form .overlay-inner {
	background: #FFF;
	margin: 5rem auto;
	padding: 4rem auto;
	max-width: 700px;
}

.overlay-inner {
	position: relative;
	color: #4F4F4F;
	font-family: @main-font-family;
	max-width: 45rem;
	margin: 3rem;
	padding: 3rem;
	background: #C7E9ED;
	border: solid #91BDD6 5px;
	border-radius: 7px;
	box-shadow: 0px 5px 20px 3px rgba(0,0,0,0.65);
}

.overlay-inner img {
    position: absolute;
    top: 5px;
    right: 5px;
}

.overlay-inner h3 {
	font-weight: 180;
	font-size: 34px;
}

.overlay-inner h4 {
	font-weight: 150;
	font-size: 22px;
}

.overlay-inner p {
	font-weight: 90;
	font-size: 18px;
	margin-left: 24px;
}

@media screen and (min-width: 52rem) {
  .overlay-inner {
    margin-left: auto;
    margin-right: auto;
  }
}